@import "https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


:root {
  --bulma-primary-h: 22deg;
  --bulma-primary-s: 80%;
  --bulma-primary-l: 62%;
  /* --bulma-link-h: 27deg;
  --bulma-link-s: 98%;
  --bulma-link-l: 54%;
  --bulma-info-h: 336deg;
  --bulma-info-s: 90%;
  --bulma-info-l: 50%; */
  /* --bulma-primary-h: 22deg;
  --bulma-primary-s: 97%;
  --bulma-primary-l: 56%; */
  --accent-color: hsl(201deg, 87%, 49%);
  /* --bulma-link-h: 316deg;
  --bulma-link-s: 44%;
  --bulma-link-l: 20%; */
  --bulma-link-h: 201deg;
  --bulma-link-s: 87%;
  --bulma-link-l: 49%;
  --bulma-info-h: 46deg;
  --bulma-info-l: 62%;
  --bulma-scheme-h: 247;
  --bulma-scheme-s: 50%;
  --bulma-burger-h: 22deg;
  --bulma-title-color-dark: hsl(221deg, 14%, 94%); /* Dark scheme color */
  --bulma-title-color-light: hsl(223, 14%, 10%);
  --bulma-family-primary: Manrope, Inter, Roboto, SF Pro, Segoe UI, Oxygen, Ubuntu, Helvetica Neue, Helvetica, Arial, sans-serif;

  --hero-overlay-color: rgba(2, 1, 29, 0.7); /* Default overlay color */
  --hero-overlay-color-dark: rgba(2, 1, 29, 0.7); /* Dark scheme overlay color */
  --hero-overlay-color-light: rgba(255, 240, 221, 0.596); 
  --hero-title-color-dark: hsl(33, 100%, 94%);
  --hero-subtitle-color-dark: hsl(0, 0%, 100%);
  --hero-title-color-light: hsl(30, 100%, 2%);
  --hero-subtitle-color-light: hsl(29, 62%, 12%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --bulma-title-color: var(--bulma-title-color-dark);
    --hero-overlay-color: var(--hero-overlay-color-dark);
    --hero-title-color: var(--hero-title-color-dark);
    --hero-subtitle-color: var(--hero-subtitle-color-dark);    
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --bulma-title-color: var(--bulma-title-color-light);
    --hero-overlay-color: var(--hero-overlay-color-light);
    --hero-title-color: var(--hero-title-color-light);
    --hero-subtitle-color: var(--hero-subtitle-color-light);
  }
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */


html {
  /* scroll-snap-type: y mandatory; */
  scroll-behavior: smooth;
}

.block{
  gap: 1.5rem;
}