.hero-title {
    font-family: Inter;
    font-weight: 300;
    font-size: 5rem;
}

/* section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  } */


.section {
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    /* scroll-snap-align: start; */
}

.hero-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  
  .image-container {
    position: relative;
    width: 100%;
    height: 100vh; /* Ensure it has a proper height */
  }

.hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
}

.hero-head {
    z-index: 4;
    background: rgba(0, 0, 0, 0.788);
}

