.hero-title {
  font-family: Inter;
  font-weight: 300;
  font-size: 5rem;
}

.theme-toggle-button {
  transition: all 0.3s ease-in-out;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  z-index: 10;
}

.theme-toggle-div {
  position: fixed;
  right: 30px;
  bottom: 30px;
  z-index: 1000;
}

.theme-toggle-button:hover,
.social-icons a:hover {
  transition: all 0.3s ease-in-out;
  transform: scale(1.1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.logo {
  width: 100%;
  // height: 80px;
}

/* section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  } */


.section {
  min-height: 100vh;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: top;
  background-color: var(--bulma-body-background-color);
}


.block {
  width: 60%;
}

.section-separator {
  border-bottom: 1px solid #909090;
  /* light grey or any color */
  margin: 0 auto;
  padding-top: 2px;
}

.hero-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.image-container {
  position: relative;
  width: 100%;
  height: 100vh;
}

.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--hero-overlay-color);
}

.hero-title {
  color: var(--hero-title-color);
}

.hero-subtitle {
  color: var(--hero-subtitle-color);
}

.navbar {
  --bulma-navbar-h: 247;
  // --bulma-navbar-padding-vertical: 1rem;
  // --bulma-navbar-padding-horizontal: 5rem;
  --navbar-item-background-a: 1%;
  // --bulma-navbar-item-img-max-height: 2rem;
  --bulma-navbar-burger-color: hsl(22deg, 80%, 62%);
  margin-top: 45px;

}

.navbar-brand .scrolled {
  background-color: var(--bulma-body-background-color);
}

.scrolled {
  background-color: var(--bulma-body-background-color);
  // background-color: hsl(247deg, 50%, 9%);
  // background-color: hsl(var(--bulma-scheme-h), var(--bulma-scheme-s), 9%);
}

.navbar-brand .navbar-item:hover {
  background-color: transparent;
}

.navbar-item {
  color: var(--bulma-title-color);
  // font-weight: var();
}


.footer {
  bottom: 0;
  min-height: 600px;
  max-height: 1000px;
  padding: 2rem; // Default padding for larger screens
padding-bottom: 0.5rem;
  @media (max-width: 768px) {
    padding: 1rem; // Reduced padding for mobile devices
  }
}



.has-text-centered.is-flex a {
  display: inline-flex;
  /* Ensures the link wraps tightly around the icon */
  align-items: center;
  /* Centers the icon vertically */
  justify-content: center;
  /* Centers the icon horizontally */
  padding: 0;
  /* Removes any default padding */
  margin: 0;
  /* Removes any default margin */
  line-height: 0;
  /* Prevents extra spacing around the icon */
  text-decoration: none;
  /* Removes underline from links */
}

// faq section
.accordion-item {
  border-bottom: 1px solid #ddd;
}

.accordion-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 80px;
}

.accordion-body {
  padding: 0rem 0;
}

.faq-answer {
  padding-bottom: 20px;
}

.accordion-item.is-active .accordion-header .icon {
  transform: rotate(0deg);
  transition: transform 0.3s ease;
}

.service-card {
  background: var(--service-card-background);
  backdrop-filter: blur(10px);
  /* Blur effect for the glass look */
  border: 0.5px solid var(--box-border);
  /* Subtle border for the glass effect */
  border-radius: 12px;
  /* Rounded corners */
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
  /* Soft shadow for depth */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}


// pricing section
#pricing {
  background-color: var(--section-background);

  .block {
    width: 100%;
    margin: 0 auto;
    padding: 1rem;
  }

  .price-box {
    background: var(--box-backgrounds);
    backdrop-filter: blur(10px);
    /* Blur effect for the glass look */
    border: 0.5px solid var(--box-border);
    /* Subtle border for the glass effect */
    border-radius: 12px;
    /* Rounded corners */
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
    /* Soft shadow for depth */
    transition: transform 0.3s ease, box-shadow 0.3s ease;



    &:hover {
      transform: translateY(-5px);
      /* Slight lift on hover */
      box-shadow: 0 12px 40px rgba(0, 0, 0, 0.2);
      /* Enhanced shadow on hover */
    }

    &.has-background-gradient {
      background: linear-gradient(135deg, rgba(50, 115, 220, 0.3), rgba(0, 209, 178, 0.3));
      backdrop-filter: blur(15px);
      /* Stronger blur for gradient background */

    }
  }


  .popular-tag {
    font-size: 0.9rem;
    font-weight: bold;
    position: absolute;

    left: 50%;
    transform: translateX(-50%) translateY(-40px);
  }

  .box:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
  }





  ul {
    list-style: none;
    padding: 0;

    li {
      display: flex;
      align-items: center;
    }

    i {
      font-size: 0.9rem;
    }
  }

  .trust-section {
    margin-top: 2rem;


  }
}



.responsive-icon {
  font-size: 2.5rem;

  @media (min-width: 576px) {
    font-size: 3rem;
  }

  @media (min-width: 768px) {
    font-size: 4rem;
  }

  @media (min-width: 1024px) {
    font-size: 4rem;
  }
}

.glowing-text {
  text-shadow: 0 0 1px rgba(3, 92, 3, 0.8),
    0 0 5px rgba(21, 119, 21, 0.6),
    0 0 15px rgba(42, 199, 42, 0.4);

}



@media screen and (max-width: 1023px) {
  .navbar-brand {
    background-color: var(--bulma-body-background-color);
  }

  .block {
    width: 100%;
  }

  .section {
    width: 100%;
    padding: 60px 0px;
  }

  .navbar {
    margin-top: 0px;
  }
}

@media screen and (max-width: 1300px) {
  .block {
    width: 80%;
  }
}

@media screen and (min-width: 1025px) {
  .navbar-item {
    border-radius: 5px;
    margin-left: 20px;
    height: 2rem;
    align-self: center;
  }

}